#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: absolute;
    background-color: white;
    width: 50%;
  }

.login-form-div {
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    font-size: 14px;

}

form {
    margin: 0 auto;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;

}

input {
    border-radius: 5px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.errors-list {
    color: red
}

.login-button {
    border-radius: 5px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-demo-user-button {
    border-radius: 5px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
