.review-form-container {
    background-color: white;
    border-radius: 10px;
    width: 550px;
    height: 500px;
    align-content: center;
}

.review-form-title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .review-form-title {
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    padding-top: 20px;
  }


  .review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
    width: 50%;
    margin: auto;
  }

  .review-form-errors {
    color: red;
    font-size: 12px;
  }

  .review-form-label {
    width: 100%;
    font-size: 14px;
  }

  .review-form-textarea {
    border-radius: 4px;
    border: 1px solid rgb(147, 147, 147);
    margin-bottom: 20px;
    /* width: 100%; */
    padding: 0;
    height: auto;
    margin: auto;
  }

  textarea {
    width: 100%;
  }
  .review-form-input {
    border-radius: 4px;
    border: 1px solid rgb(147, 147, 147);
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
    height: 20px;
  }

  .review-form-select {
    border-radius: 4px;
    border: 1px solid gray;
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
    height: 20px;
  }

  .review-form-button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
  }

  .review-form-button:hover {
    background-color: white;
    color: gray;
    border: 1px solid gray;
  }

  .modal-button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
}


.modal-button:hover {
    background-color: white;
    color: gray;
    border: 1px solid gray;
}
