
.review-card-rating {
    padding-top: 3px;
    display: flex;
    padding-left: 3px;
  }

.fa-solid.fa-star {
    color: #ffc107;

  }

  .review-details {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
  }

  .review-card-div {
    /* margin-top: 5px;
    margin-bottom: 10px; */
    overflow-wrap: anywhere;
  }

  .review-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 10%;
  }

  .delete-review-button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
  }

  .delete-review-button:hover {
    background-color: white;
    color: gray;
    border: 1px solid gray;
  }
