.home-spots-link {
    text-decoration: none;
    height: 100%;
    color: black;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin: auto;
  }

  .home-login-link {
    text-decoration: none;
    height: 100%;
    color: black;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin: auto;
  }

  .home-banner-div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }


  .home-banner-img-container {
    width: 100vw;
    height: 100%;
  }

  .home-banner-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
  }

  .home-banner-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .home-banner-text {
    position: absolute;
    top: 15%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    justify-content: center;
  }

.footer-container {
    background-color: #f1ebeb;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    padding: 12px;
    /* display: flex; */
    flex-direction: row;
    /* justify-content: space-evenly; */
  }

  .footer-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-link {
    text-decoration: none;
    color: black;
    padding: 1px 6px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .footer-link:hover {
    color: gray;
  }
