
.home-image {
    max-width: 80%;
    height: 80%;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    /* position: absolute; */
    /* object-fit: cover; */
}

.home-page {
    background-color: black;
    color: white;
    /* align-content: center; */
}

.spots-link {
    /* justify-self: center; */
    /* z-index: 100; */
    /* position: absolute; */
    font-size: 30px;
    margin-left: 15%;
    margin-top: 15%;
}
