
.home-image {
    max-width: 80%;
    height: 80%;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    /* position: absolute; */
    /* object-fit: cover; */
}

.home-page {
    background-color: black;
    color: white;
    /* align-content: center; */
}

.spots-link {
    /* justify-self: center; */
    /* z-index: 100; */
    /* position: absolute; */
    font-size: 30px;
    margin-left: 15%;
    margin-top: 15%;
}

.footer-container {
    background-color: #f1ebeb;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    padding: 12px;
    /* display: flex; */
    flex-direction: row;
    /* justify-content: space-evenly; */
  }

  .footer-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-link {
    text-decoration: none;
    color: gray;
    padding: 1px 6px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .footer-link:hover {
    color: black;
  }
