.inactiveBtn {
    background-color: #d8d8dd !important;
    color: black;
    cursor: auto;
    width: 50%;
    margin: auto;
    padding: 5px;
}

.activeBtn {
    cursor: auto;
    width: 50%;
    padding: 5px;
    margin: auto;
}

.date-picker-container {
    display: flex;
    justify-content: center;
}

.react-datepicker {
    margin: auto;
}
.reserve-stay-button-container{
    width: 80%;
    display: flex;
    padding-top: 10px;
    margin: auto;
}
.booking-form-guests-container {
    width: 80%;
    display: flex;
    padding-top: 10px;
    margin: auto;
}

.booking-form-label {
    width: 50%;
    margin: auto;
    padding-top: 10px;
    padding-right: 10px;
}
.booking-form-select {
    width: 50%;
    margin: auto;
    padding-top: 10px;
    margin-left: 10px;
    padding-left: 5px;
}

.booking-form-booked-dates{
    display: flex;
    justify-content: center;
    font-weight: 600;
    width: 100%;
}

.booking-form-booked-date {
    margin: auto;
    font-size: 16px;
}


.booking-form-container-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
