.spot-form-container {
    background-color: white;
    border-radius: 10px;
    width: 550px;
    height: 500px;
    align-content: center;
    overflow-y: scroll;
  }

  .spot-form-container::-webkit-scrollbar {
    display: none;
}

  .spot-form-title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .spot-form-title {
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    padding-top: 20px;
  }


  .spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
    width: 80%;
    margin: auto;
  }

  .spot-form-errors {
    color: red;
    font-size: 12px;
  }

  .spot-form-label {
    width: 80%;
    font-size: 14px;
  }
  .spot-form-input {
    border-radius: 4px;
    border: 1px solid rgb(147, 147, 147);
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
    height: 20px;
  }

  .spot-form-select {
    border-radius: 4px;
    border: 1px solid gray;
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
    height: 20px;
  }

  /* .new-food-truck-form-component-form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 20px;
  } */

  .form-button {
    border-radius: 4px;
    border: 0;
    width: 40%;
    margin-bottom: 10px;
    color: black;
    background-color: gray;
    height: 20px;
    width: 100%;
  }

  .form-button:hover {
    background-color: black;
    color: gray;
    font-weight: bold;

    /* border: 1px solid #ea3434; */
  }

  /* Modal Button Styling */

  /* .food-truck-modal-container {
    width: 100%;
    z-index: 100001 !important;
  } */

  .food-truck-modal-button {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    margin-left: 20%;
    font-size: 15px;
  }

  .food-truck-modal-button:hover {
    color: #ea3434;
  }
