.spot-form-container {
    background-color: white;
    border-radius: 10px;
    width: 550px;
    height: 500px;
    align-content: center;
    overflow-y: scroll;
  }

  .spot-form-container::-webkit-scrollbar {
    display: none;
}

  .spot-form-title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .spot-form-title {
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    padding-top: 20px;
  }


  .spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
    width: 80%;
    margin: auto;
  }

  .spot-form-errors {
    color: red;
    font-size: 12px;
  }

  .spot-form-label {
    width: 80%;
    font-size: 14px;
  }
  .spot-form-input {
    border-radius: 4px;
    border: 1px solid rgb(147, 147, 147);
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
    height: 20px;
  }

  .spot-form-select {
    border-radius: 4px;
    border: 1px solid gray;
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
    height: 20px;
  }

  /* .new-food-truck-form-component-form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 20px;
  } */

  .spot-form-button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 100%;
  }

  .spot-form-button:hover {
    background-color: white;
    color: gray;
    border: 1px solid gray;

  }

  /* Modal Button Styling */

  .modal-button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
}


.modal-button:hover {
    background-color: white;
    color: gray;
    border: 1px solid gray;
}
