.spot-images-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    align-self: center;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.spot-detail-card {
    /* border: black 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    background-color: rgb(248, 244, 244);
    border-radius: 10px;
}

.spot-details {
    width: 100%;
    margin-bottom: 40px;
}
.resort-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;

}

.resort-img {
    width: 50%;
    height: 50%;
    margin: auto;
    box-shadow: 0 2px 5px 0 lightgray;
}

.spot-img-list {
    box-shadow: 0 2px 5px 0 lightgray;
}

.reviews-div {
    border-top: 1px solid rgb(221, 221, 221);
    margin-top: 10%;
    margin-left: 1%;
    margin-right: 1%;
}

.review-card-div {
    border-top: 1px solid rgb(221, 221, 221);
}

.spot-numbers {
    margin: 3px;
    font-size: 14px;
}

.spot-price {
    margin: 3px;
    font-size: 14px;
}

.spot-description {
    margin: 3px;
    font-size: 14px;
}

.spot-address {
    margin: 3px;
    font-size: 14px;
}
