.spot-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    /* background-color: rgb(248, 244, 244); */
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 2px 5px 0 lightgray;
    margin-bottom: 10px;
}


.spot-images-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    align-self: center;
    /* margin: auto; */
    /* margin-bottom: 40px;
    margin-top: 40px; */
    justify-content: space-around;
}


.spot-details-div {
    width: 100%;
    margin-left: 10px;
}


.spot-details-info-title {
    font-weight: 600;
}
.spot-numbers {
    margin: 3px;
    font-size: 14px;
}

.spot-price {
    margin: 3px;
    font-size: 14px;
}

.spot-description {
    margin: 3px;
    font-size: 14px;
}

.spot-address {
    margin: 3px;
    font-size: 14px;
}

.spot-details-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 50%;
    align-self: center;
    margin: 40px auto;
    /* border: 1px solid black; */
}

.spot-details-info-container {
    width: 50%;
    margin: auto;
    /* border: 1px solid black; */
}
.booking-form-container {
    width: 50%;
    margin: auto;
    /* border: 1px solid black; */
}

.resort-details {
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin: auto;
    margin-top: 0;
    margin-left: 10px;
}

.resort-url {
    text-decoration: underline;
}

.resort-img {
    width: 50%;
    height: 50%;
    margin: 5px auto;
    box-shadow: 0 2px 5px 0 lightgray;
    border-radius: 10px;

}

.resort-activities-container {
    margin-top: 5px;
}

.spot-img-list {
    box-shadow: 0 2px 5px 0 lightgray;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.spot-img-container {
    height: 24vw;
    width: 30vw;
}

.reviews-div {
    /* border-top: 1px solid rgb(221, 221, 221); */
    margin-left: 1%;
    margin-right: 1%;
}

.review-card-div {
    border-top: 1px solid rgb(221, 221, 221);
}

.review-details {
    font-weight: bold;
    font-size: 16px;
}

.review-content {
    font-size: 14px;
}



/* .single-review-container {
    /* color: red; */
/* } */
