.spot-card {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background-color: rgb(248, 244, 244);
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 lightgray;
}

.spot-details {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10px;
}

/* .resort-details {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 0;
    margin: auto;
} */

.resort-activities-container {
    margin-top: 5px;
}

.activities-list {
    display: inline;
    list-style: inside;
    padding-left: 5px;
    padding-bottom: 5px;
}

.main-spot-img {
    /* width: 10%;
    height: 10%; */
    border-radius: 10px;
    width: 30%;
    height: 80%;
    align-self: center;
    margin: auto;
}

.details-link {
    text-decoration: underline;
}

.spot-name {
    font-size: 20px;
    width: 100%;
}

.resort-header {
    font-size: 20px;
}

.my-listings-link {
    text-decoration: underline;
    padding-top: 20px;
}

.resort-name {
    margin: 3px;
}

.resort-snow {
    margin: 3px;
}
