.all-listings-container {
    margin-top: 30px;

}

.title-container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listings-map-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.listings-container {
    margin-bottom: 50px;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
    height: 100vh;
}

.listings-container::-webkit-scrollbar {
    display: none;
}


.title-text {
    margin:auto;
    font-size: 24px;
    font-weight: bold;
}

/* .spot-card-container{
  width: 90%;
  margin: 50px auto;
} */

.my-listings-link:hover {
    font-weight: 600;
}

.map-container {
    /* background-color: gray; */
    width: 50%;
}
