/* TODO Add site wide styles */
button {
    border-radius: 10px;
    margin: 5px;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.form-errors {
    color: red;
    font-style: italic;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-weight: bold;
}

body {
    margin: 0;
}
