.search-bar-container {
    display: flex;
    background-color: rgb(231, 228, 228);

}
.search-bar-form {
    display: flex;
    margin: auto;
    border: 1px solid black;
    width: 60%;
    justify-content: space-around;

}

.search-start-date {
    /* background-color: gray; */
    border: 1px solid black;
    height: 50px;
    width: 100px;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 25px;
}

 .search-start-date:hover {
    background-color:#EBEBEB;
 }

#date-range-picker {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    z-index: 5;
}
