* {
    font-family: Arial, Helvetica, sans-serif;
}

.signup-form-div {
    display: block;
    /* align-content: center; */
    /* border: 1px black solid; */
}

form {
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
    justify-content: center;
}

input {
    border-radius: 5px;
    margin: 5px;
}

.errors-list {
    color: red
}

.signup-button {
    border-radius: 5px;
    margin: 5px;
}
