
.signup-form-div {
    display: block;
    /* align-content: center; */
    /* border: 1px black solid; */
    width: 50%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
}

input {
    border-radius: 5px;
    margin: 5px;
    width: 100%;
}

.errors-list {
    color: red
}

.signup-button {
    border-radius: 10px;
    margin: 5px;
    background-color: black;
    color: white;
    width: auto;
    /* padding: 0; */
}
