nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black solid 1px;
    top: 0;
    position: sticky;

}

ul {
    display: flex;
    grid-template-columns: auto;
    width: 100%;
    border: black solid 1px;
}

.login-link {
    color: pink
}

.signup-link {
    color: pink
}

.home-link {
    color: red
}

/* .fas.fa-user-circle {
    height: 100%;
    border: 1px solid red;
} */

.profile-button {
    border: 1px solid red;
    background-color: transparent;
}
