/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black solid 1px;
    top: 0;
    position: sticky;

} */

ul.nav-bar {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    /* border: black solid 1px; */
    background-color: aliceblue;
    /* align-items: center; */
}

/* REMOVED li element from component */
/* li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-evenly; */
    /* height: 100%; */
    /* width: 100%; */
    /* top: 0; */
    /* align-items: center; */
    /* align-self: center; */
/* }  */


.login-link {
    background-color: pink;
    padding-left: 10px;
    padding-right: 10px;
}

.signup-link {
    background-color: orange;
    padding-left: 10px;
    padding-right: 10px;
}

.home-link {
    background-color: yellow;
    padding-left: 10px;
    padding-right: 10px;
}

/* .fas.fa-user-circle {
    height: 100%;
    border: 1px solid red;
} */

.profile-button {
    background-color: transparent;
}
