.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    top: 0;
    position: sticky;


}

ul {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;

    padding: 0;
    margin: 0;
}

li {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    top: 0;
    align-items: center;
    align-self: center;
 }

 .auth-buttons {
     color: white;
 }

 .home-link {
     color: white;
 }

/* .session-links {
    padding-right: 0;
    background-color: pink;
    justify-self: unset;
} */

/* .login {
    background-color: pink;
    width: fit-content;
}

.signup-link {
    background-color: orange;
}

.home-link {
    text-decoration: none;
    background-color: yellow;
    /* padding-left: 10px;
    padding-right: 10px; */
/* } */

/* .logo {
    background-color: bisque;
} */
/* .fas.fa-user-circle {
    height: 100%;
    border: 1px solid red;
} */

.profile-button {
    background-color: transparent;
}
