.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 228, 228);
    top: 0;
    position: sticky;
}

.navbar-list {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    top: 0;
    align-items: center;
    align-self: center;
 }

 .home-link {
     color: black;
 }

 .profile-dropdown {
    position: absolute;
    margin: 0;
    background-color: rgb(231, 228, 228);
    list-style: none;
    padding-inline-start: 5px;
    border-radius: 5px;
}

.dropdown-container {
    display: flex;
    justify-content: flex-end;
}

.auth-buttons {
    display: flex;
    
}
