

.login-form-div {
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 30px;
}

form {
    margin: 0 auto;
    width: 30%;

}

input {
    border-radius: 10px;
    border: 1px gray solid;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* width: 50%; */
}

.errors-list {
    color: red
}

.login-button {
    border-radius: 10px;
    margin: 5px;
    background-color: black;
    color: white;
}

.login-demo-user-button {
    border-radius: 10px;
    margin: 5px;
    background-color: black;
    color: white;
}

/* button:hover {
    background-color:white;
    color: black;
} */
