* {
    font-family: Helvetica;
}

.login-form-div {
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    font-size: 14px;

}

form {
    /* border: 1px black solid; */
    margin: 0 auto;
    width: 30%;

}

input {
    border-radius: 5px;
    margin: 5px;
    width: 50%;
}

.errors-list {
    color: red
}

.login-button {
    border-radius: 5px;
    margin: 5px;
}

.login-demo-user-button {
    margin: auto;
    border-radius: 5px;
    padding: 5px
}
